@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir/Vazir.woff") format("woff"),
    url("../fonts/Vazir/Vazir.ttf") format("truetype"),
    url("../fonts/Vazir/Vazir.woff2") format("woff2");
}

:root {
  --red: #a0180c;
}
* {
  font-family: "Vazir";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*text-transform: capitalize;*/
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s;
}

*::selection {
  background: var(--red);
  color: #fff;
}

html {
  font-family: "Vazir";
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  text-align: right;
  direction: rtl;
}

section {
  padding: 2rem 9%;
}

button {
  cursor: pointer;
}

.heading {
  text-align: center;
  padding: 2.5rem 0;
}

.heading span {
  font-size: 3.5rem;
  background: rgba(213, 73, 13, 0.2);
  color: var(--red);
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--red);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  /*text-transform: uppercase;*/
}

header .navbar a {
  color: #fff;
  font-size: 2rem;
  margin: 0 0.8rem;
  position: relative;
  padding: 0.2em 0;
}

header .navbar a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #fff;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

header .navbar a:hover::after,
header .navbar a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
  transform: scale(1);
}

#menu-bar {
  color: #fff;
  font-size: 3rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  display: none;
}

/* select option box */
.navbar select {
  background-color: var(--red);
  font-size: 2rem;
  text-align: center;
  width: 20rem;
  /* border-radius: 2px;
  border: 1px solid; */
  color: #ffffff;
  cursor: pointer;
}
.navbar select option {
  background-color: #333;
}

/* services */
.services {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/bg/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.services .content {
  margin-top: 150px;
  text-align: center;
}

/* title of service */
#serviceTitle {
  margin-bottom: 20px;
  font-size: 4.5rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

/* .services .content p {
  font-size: 2.5rem;
  color: #fff;
  padding: 0.5rem 0;
} */

.inputUrl-Wrapper {
  margin: auto;
  width: 800px;
  max-width: 100%;
  position: relative;
}
#input_Url {
  text-align: center;
  width: 100%;
  background: #333;
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 20px;
  color: #fff;
  padding: 2rem 2rem;
  transition: 0.5s;
}
#input_Url:hover {
  border: 1px solid #ac3c3e;
  box-shadow: 0 0 20px #ac3c3e, inset 0 0 20px #ac3c3e;
}
#inputUrlBtn {
  background-color: var(--red);
  color: #fff;
  border-radius: 50%;
  height: 80%;
  aspect-ratio: 1;
  position: absolute;
  right: 0;
  transform: translateX(-10%);
  top: 10%;
}
/* Video Deatails (thumbnail and title) Card */
.card {
  margin: auto;
  margin-top: 100px;
  width: 90%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}
.card img {
  width: 100%; /* Makes the image responsive */
  height: auto; /* Maintains aspect ratio */
  display: block;
}
.card-title {
  padding: 25px;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
}
.services audio {
  padding-bottom: 20px;
}
.services h1 {
  margin: auto;
  margin-top: 30px;
  text-align: right;
  color: #fff;
  font-size: 30px;
}
.video_Wrapper {
  margin-top: 80px;
}
.video_Wrapper iframe {
  width: 100%;
  height: 50rem;
  border-radius: 50px;
}
.transcriptText {
  font-size: 25px;
  color: #fff;
  border: 5px solid;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
}
.translatedTranscriptText {
  font-size: 25px;
  color: #fff;
  border: 5px solid;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
}
.summarizedTranscriptText {
  font-size: 25px;
  color: #fff;
  border: 5px solid;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
}

.services button {
  align-items: center;
  background-color: var(--red);
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
.services button:hover,
.services button:focus {
  background-color: darkred;
  color: #ffffff;
}
.services button:active {
  background: darkred;
  color: rgb(255, 255, 255, 0.7);
}
.services button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

/* select option box */
.services select {
  margin-left: 100%;
  background-color: #333;
  font-size: 2rem;
  text-align: center;
  width: 30rem;
  color: #fff;
  /* border-radius: 2px;
  border: 1px solid; */
  cursor: pointer;
}
.services select option {
  background-color: #333;
}

.aboutServices .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.aboutServices .box-container .box {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
}

.aboutServices .box-container .box i {
  padding: 1rem;
  font-size: 5rem;
  color: var(--blue);
}

.aboutServices .box-container .box h3 {
  font-size: 2.5rem;
  color: #333;
}

.aboutServices .box-container .box p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.aboutServices .box-container .box:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.footer {
  background: #333;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .box-container .box {
  padding: 1rem 0;
  flex: 1 1 25rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  padding: 0.7rem 0;
  color: #fff;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  padding: 0.7rem 0;
  color: #eee;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 0.7rem 0;
  color: #eee;
}

.footer .box-container .box a:hover {
  color: var(--red);
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.footer .credit a {
  color: var(--red);
}

/* media queries  */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: #333;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    display: block;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #222;
  }

  .navbar select {
    text-align: right;
    width: 100%;
    display: block;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #222;
  }

  .inputUrl-Wrapper {
    width: 370px;
  }

  /* button {
    padding: 40px 90px;
    & span {
      font-size: 18px;
    }
  } */
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading span {
    font-size: 2.5rem;
  }

  .contact .row form .inputBox input {
    width: 100%;
  }
}
